
*, ::before, ::after { box-sizing: border-box }

:root { height: 100% }

body {
	height: 100%;
	margin: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

button, input, optgroup, select, textarea {

	font-family: inherit;
	font-size: 1em;
    color: inherit;

	margin: 0;
	padding: 0;
	background: none;
	border: none;
    
}

button { cursor: pointer }

h1, h2, h3, h4, h5, h6, p { margin: 0 }
